NEXT_PUBLIC_SUPABASE_URL=https://phtqkewoyyljappeiltd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBodHFrZXdveXlsamFwcGVpbHRkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxNTk3MjAsImV4cCI6MjA5MDczNTcyMH0.JL5-zOUt0sCrV8Jss-MQFq75MYoUIrToJ_Ax8fJdbdM
